@import url('https://fonts.googleapis.com/css?family=Charm');

#quote,
#source {
    font-family: 'Charm', cursive;
}

#source {
    text-align: center; 
}

.media-body {
    padding-top: 10px;
}

.small-font {
    font-size: 10px;
    
}